.cardsContainer{
    width:100%;
    height: 100%;
    background-image: url("../imgs/R.jpg");
    padding: 0 0 2rem 0;
}
.filterContainer{
    background-color: #8f4b0a;
    display: inline-flex;
    width: 100%;
    height: 4vh;
    padding:  1rem ;
    justify-content:center;
    align-items: stretch;
    padding: 10px;
}

.cardsBox{
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    justify-content: space-evenly;
    margin: 1rem 0 ;
    
}

.filterAndOrder{
    margin-left: 1rem;
    border-radius: 10px;
    border:none;
    background-color: #966B48;
    color: #ffffff;
    font-size: large;
    cursor: pointer;
   border-style:double;
}
.filterAndOrder:last-of-type{
    margin-right: 0.8rem;
}

.filterAndOrder:first-of-type{
    margin-left: 0;
}